@import "./reset.css";
@import "./normal/index.css";
/*浅色皮肤*/
body{background-color:#eef0f3;}
.page-controller{
  width:100%;
  height:100%;
  position: relative;
  padding-top: 50px;
  display: flex;
}
.page-header{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 50px;
  background: #161630;
}
.page-header .logo{
  width:400px;
  height: 50px;
  line-height: 50px;
  padding-left:48px;
  float:left;
  font-size:16px;
  color:white;
  background:url(./../images/logo.png) no-repeat 10px center / 30px 30px;
}
.page-header .user{
  width:calc(100% - 400px);
  height: 50px;
  line-height: 50px;
  float:right;
  font-size:16px;
  color:white;
}
.page-header .user .themes-picker{
  float: right;
  width: 120px;
  height: 50px;
}
.page-header .user .themes-picker li{
  float: right;
  width: 20px;
  height: 20px;
  margin: 15px 6px 15px 0;
  border:2px transparent solid;
}
.page-header .user .themes-picker li[data-theme='normal']{
  background: white;
}
.page-header .user .themes-picker li[data-theme='dark']{
  background: black;
}
.page-header .user .themes-picker li.active{
  border-color:#364C94;
}
.page-nav{
  width: 72px;
  height: 100%;
  background: #161630;
}
.page-nav > ul{
  width: 100%;
  overflow: hidden;
}
.page-nav > ul > li{
  width: 100%;
  height: 72px;
  color:white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: center 13px;
  line-height: 20px;
}
.page-nav > ul > li:nth-child(1){
  background-image: url(./../images/nav_1.png)
}
.page-nav > ul > li:nth-child(2){
  background-image: url(./../images/nav_2.png)
}
.page-nav > ul > li:nth-child(3){
  background-image: url(./../images/nav_3.png)
}
.page-nav > ul > li:nth-child(4){
  background-image: url(./../images/nav_4.png);
  height:92px;
}
.page-nav > ul > li:nth-child(5){
  background-image: url(./../images/nav_5.png);
  height:92px;
}
.page-nav > ul > li:nth-child(6){
  background-image: url(./../images/nav_6.png)
}
.page-nav > ul > li:nth-child(7){
  background-image: url(./../images/nav_7.png)
}
.page-nav > ul > li.active{
  background-color: #364C94;
}
.page-nav > ul > li:hover{
  background-color: rgba(54,76,148,.2);
}
.page-body{
  flex: 1;
  background: white;
  overflow: hidden;
  overflow-y: auto;
}
