@import "./reset.css";
@import "./normal/index.css";
@import "./normal/time.css";
@import "./normal/statistics.css";
@import "./normal/structural.css";
@import "./normal/scenario.css";
@import "./normal/warning.css";
@import "./normal/system.css";
/*浅色皮肤*/
body{background-color:#eef0f3;font-size: 14px;color:#4a4a4a;}
.page-controller{
  width:100%;
  height:100%;
  position: relative;
  padding-top: 50px;
  display: flex;
}

.page-header{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 50px;
  background: #161630;
}
.page-header .logo{
  width:400px;
  height: 50px;
  line-height: 50px;
  padding-left:48px;
  float:left;
  font-size:16px;
  color:white;
  background:url(./../images/logo.png) no-repeat 10px center / 30px 30px;
}
.page-header .user{
  width:calc(100% - 400px);
  height: 50px;
  line-height: 50px;
  float:right;
  font-size:16px;
  color:white;
  text-align: right;
  padding:0 10px;
}
.page-header .user .themes-picker{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.page-header .user .themes-picker li{
  display: inline-block;
  width: 20px;
  height: 20px;
  border:2px transparent solid;
  cursor:pointer;
}
.page-header .user .themes-picker li[data-theme='normal']{
  background: white;
}
.page-header .user .themes-picker li[data-theme='dark']{
  background: black;
}
.page-header .user .themes-picker li.active{
  border-color:#364C94;
}
.page-header .user .datetimer{
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.page-header .user .userinfo{
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 40px;
}
.page-header .user .userinfo img{
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top:10px;
}


.page-nav{
  width: 72px;
  height: 100%;
  background: #161630;
}
.page-nav > ul{
  width: 100%;
  overflow: hidden;
}
.page-nav > ul > li{
  width: 100%;
  height: 72px;
  color:white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: center 13px;
  line-height: 20px;
}
.page-nav > ul > li:nth-child(1){
  background-image: url(./../images/nav_1.png)
}
.page-nav > ul > li:nth-child(2){
  background-image: url(./../images/nav_2.png)
}
.page-nav > ul > li:nth-child(3){
  background-image: url(./../images/nav_3.png)
}
.page-nav > ul > li:nth-child(4){
  background-image: url(./../images/nav_4.png);
  height:92px;
}
.page-nav > ul > li:nth-child(5){
  background-image: url(./../images/nav_5.png);
  height:92px;
}
.page-nav > ul > li:nth-child(6){
  background-image: url(./../images/nav_6.png)
}
.page-nav > ul > li:nth-child(7){
  background-image: url(./../images/nav_7.png)
}
.page-nav > ul > li.active{
  background-color: #364C94;
}
.page-nav > ul > li:hover{
  background-color: rgba(54,76,148,.2);
}
.page-body{
  position: relative;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.page-body .page-box{
  position: absolute;
  background: white;
}
.page-body .page-box .title{
  width: 100%;
  height:40px;
  background: #f9f9f9;
  padding: 0 10px;
}
.page-body .page-box .title span{
  line-height: 40px;
}
.page-body .page-box .content{
  width: 100%;
  height:calc(100% - 40px);
}
