
.left{
  left: 10px;
  top:10px;
  width: 370px;
  bottom:10px;
}
.left .info{
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 20px;
}
.left .info ul{
  width: 100%;
  overflow: hidden;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.left .info ul li{
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding:0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left .info ul li span{
  color:#9b9b9b;
}
.left .info ul li span + span{
  color:#4a4a4a;
}
.left .info ul li a{
  font-size: 12px;
  color:#3698fd;
}
.left .imgbox{
  width: 100%;
  height: calc((100% - 355px) / 2);
  padding: 0 10px;
}
.left .imgbox + .imgbox{
  margin-top: 20px;
}
.left .imgbox img{
  width: 100%;
  height: 100%;
}

.right{
  left:390px;
  right:10px;
  height:calc(100% - 340px);
  top:10px;
}
.right .check-box {
  position: absolute;
  top: 0px;
  left: 0;
  height: calc(100% - 40px);
  padding: 10px 20px;
  line-height: 22px;
  color: #fff;
  z-index:98;
  /* background: #142845; */
}
.right .check-box img{
  width: 12px;
  height: auto;
  margin-left: 5px
}

.bottom{
  left:390px;
  right:10px;
  bottom:10px;
  height:300px;
}
.bottom ul{
  width: 100%;
  height:100%;
}
.bottom ul li{
  width: calc((100% - 30px) / 4);
  height: 100%;
  float: left;
}
.bottom ul li + li{
  border-left: 10px #eef0f3 solid;
}
.bottom ul li + li + li{
  border-left: 10px #eef0f3 solid;
}
.bottom .content4 {
  padding: 20px;
}
.bottom .location {
  line-height: 24px;
}
.bottom .location .city {
  font-size: 16px;
}
.bottom .location .update-time {
  font-size: 12px;
  color: #999;
}
.bottom .base-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;
}
.bottom .base-info .base-info-left {
  font-size: 30px;
  color: #5C89FF;
}
.bottom .base-info .base-info-center span:first-of-type {
  font-size: 18px;
}
.bottom .base-info .base-info-right {
  padding: 2px 4px;
  border-radius: 2px;
  background: #4ECE9E;
}
.bottom .content4-types {
  display: flex;
  justify-content: space-between;
}
.bottom .broadcast {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #eee;
  margin-top: 40px;
}
.bottom .broadcast img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.tip-box{
  position: absolute;
  bottom:20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  color:white;
}
.tip-box .tip-item{
  display: block;
  float: left;
  padding-left:30px;
  position: relative;
}
.tip-box .tip-item i{
  position: absolute;
  display: block;
  width: 20px;
  height: 10px;
  left: 3px;
  top:5px;
  border-radius: 2px;
}
.tip-box .tip-item + .tip-item{
  margin-left: 5px;
}
.tip-box .tip-item i.red{
  background: red;
}
.tip-box .tip-item i.green{
  background: green;
}
.tip-box .tip-item i.white{
  background: white;
}
.tip-box .tip-item i.grey{
  background: #575757;
}
.unity-popup{
  position: absolute;
  top:200px;
  left: 500px;
  width: 300px;
  overflow: hidden;
  z-index: 99;
}
.unity-popup img{
  width: 100%;
  height: auto;
}
.tip-check {
  position: absolute;
  bottom: 1px;
  left: 12px;
  z-index: 98;
  cursor: pointer;
}
.custom-checkbox {
  float: left;
}

.custom-checkbox span {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #0073bf;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + span {
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + span:after {
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #0073bf;
  border: #fff solid 2px;
  height: 12px;
  width: 12px;
}

.box {
  width: 70px;
  height: 28px;
}

.custom-txt {
  margin-left: 29px;
  padding-top: 1px;
  width: 40px;
  height: 100%;
  color:white;
}