

.waring1 .waring1-top .page-box {
  height: 358px;
}
.waring2 {
  display: flex;
}
.waring2 .waring2-left {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 10px;
}
.waring2 .waring2-left .page-box:nth-child(-n+2) {
  width: 49.5%;
}
.waring2 .waring2-left .page-box:nth-child(3) {
  width: 100%;
}
.waring2 .waring2-left .page-box:first-child .content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.waring2 .waring2-left .page-box:first-child ul {
  display: flex;
  height: 40px;
  margin: 25px 0 30px;
}
.waring2 .waring2-left .page-box:first-child ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
}
.waring2 .waring2-left .page-box:first-child ul li:last-child {
  border-right: 0;
}
.waring2 .waring2-left .page-box:first-child ul li img {
  width: 20px;
  height: 20px;
}
.waring2 .waring2-left .page-box:first-child ul li span:first-of-type {
  font-size: 14px;
  color: #75798A;
  padding: 6px 0;
}
.waring2 .waring2-left .page-box:first-child ul li span:last-of-type {
  color: #fff;
}
.waring2 .waring2-left .page-box:first-child .img-box {
  flex: 1;
}
.waring2 .waring2-left .page-box:first-child .img-box img{
  width: 100%;
  height: 100%;
}
.waring2 .waring2-right {
  width: calc(40% - 30px);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 410px;
}
.waring2 .waring2-right .content {
  display: flex;
  flex-direction: column;
}
.waring2 .waring2-right .content .header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.waring2 .waring2-right .content .header-right {
  display: flex;
  align-items: center;
}
.waring2 .waring2-right .content .header-right select {
  height: 32px;
  line-height: 32px;
  background: #fff;
  font-size: 14px;
  color: #97B8DA;
  border: 0;
  margin-left: 10px;
  cursor: pointer;
  padding: 0 8px;
}
.waring2 .waring2-right .content .header-right button {
  width: 80px;
  height: 32px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.waring2 .waring2-right .content .header-right .search {
  background: #5C89FF;
}
.waring2 .waring2-right .content .header-right .export {
  background: #FCB333;
}
.waring2 .waring2-right .content .header-right button img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.waring2 .list-table {
  flex: 1;
  overflow: auto;
}
.waring2 .list-table ul{
  width: 100%;
  overflow: hidden;
}
.waring2 .list-table li{
  width: 30%;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.waring2 .list-table li + li{
  width: 15%;
}

.waring2 .list-table li + li + li{
  width: 35%;
}

.waring2 .list-table li + li + li + li{
  width: 20%;
}
.waring2 .list-table li.lv1{
  background: url(./../../images/level1.png) no-repeat center center;
}
.waring2 .list-table li.lv2{
  background: url(./../../images/level2.png) no-repeat center center;
}
.waring2 .list-table li.lv3{
  background: url(./../../images/level3.png) no-repeat center center;
}
.waring2 .list-table li.gd{
  color:#39c160
}
.waring2 .list-table li.rd{
  color:#fd4f54
}


.waring2 .list-table .tb-hd{
  width: 100%;
  height: 40px;
}
.waring2 .list-table .tb-bd{
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  overflow-y: auto;
}
.waring2 .list-table .tb-hd ul{
  color:#98b9d9;
}
.waring2 .list-table .tb-bd ul:nth-child(odd){
  background: #f9f9f9;
}

.warning1bottom{
  left:0;
  top:368px;
  right:0;
  height: 500px;
}
.warning1bottom .page-box{
  height: 100%;
}
.warning1bottom .list-table{
  width: 100%;
  height: calc(100% - 86px);
  margin-top: 20px;
}
.warning1bottom .list-table ul{
  width: 100%;
  overflow: hidden;
}
.warning1bottom .list-table li{
  width: calc(100% / 6);
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.warning1bottom .list-table li img{
  margin-top: 10px;
}
.warning1bottom .list-table li.rd{
  color:#fd4f54;
}
.warning1bottom .list-table li.gd{
  color:#39c160;
}
.warning1bottom .list-table .tb-hd{
  width: 100%;
  height: 40px;
}
.warning1bottom .list-table .tb-bd{
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  overflow-y: auto;
}
.warning1bottom .list-table .tb-hd ul{
  color:#98b9d9;
}
.warning1bottom .list-table .tb-bd ul:nth-child(odd){
  background: #f9f9f9;
}
.warning1bottom .page-box .content .header-right input {
    height: 32px;
    line-height: 32px;
    background: #fff;
    font-size: 14px;
    color: #97B8DA;
    border: 1px #c4c6cf solid;
    margin-left: 10px;
    padding: 0 8px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10,6,30,0.70);
  display: none;
}

.warning-detail {
  width: 500px;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: #111029;
  display: none;
}
.warning-detail .title {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #191934;
}
.warning-detail .detail {
  flex: 1;
  padding: 20px 10px 10px;
  overflow: auto;
}
.warning-detail .detail .base-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.warning-detail .detail .base-info label {
  line-height: 30px;
  color: #97B8DA;
}
.warning-detail .detail .base-info img {
  width: 20px;
  height: 20px;
}
.warning-detail .detail .base-info p {
  padding: 5px 10px;
  line-height: 22px;
  background: #191934;
}
.warning-detail .detail .btns {
  display: flex;
  justify-content: flex-end;
}
.warning-detail .detail .btns button {
  width: 80px;
  height: 32px;
  line-height: 32px;
  background: #5C89FF;
  border: 0;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.warning-detail .detail .base-info .pdf {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.warning-detail .detail .base-info .pdf .operate {
  color: #1890FF;
  cursor: pointer;
}

.waring2 .waring2-bottom {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 440px);
  top: 430px;
  overflow: hidden;
}
.waring2 .waring2-bottom .page-box{
  height: 100%!important;
}
.waring2 .waring2-bottom .content{
  padding: 0!important;
}

.waring2 .waring2-bottom .check-box {
  position: absolute;
  top: 40px;
  left: 0;
  height: calc(100% - 40px);
  padding: 10px 20px;
  line-height: 22px;
  color: #fff;
}
.waring2 .waring2-bottom img{
  width: 100%;
  height:100%
}
