/*深色皮肤*/
.page-controller{
  width:100%;
  height:100%;
  position: relative;
  padding-top: 50px;
  display: flex;
}
.page-header{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 50px;
  background: #161630;
}
.page-nav{
  width: 72px;
  height: 100%;
  background: #161630;
}
.page-body{
  flex: 1;
  background: none;
  overflow: hidden;
  overflow-y: auto;
}
