.left{
  left: 10px;
  top:10px;
  width: 370px;
  bottom:10px;
}
.left .info{
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 20px;
}
.left .info ul{
  width: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(80,80,99,0.49);
  border-bottom: 1px solid rgba(80,80,99,0.49);
}
.left .info ul li{
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-left: 1px solid rgba(80,80,99,0.49);
  border-top: 1px solid rgba(80,80,99,0.49);
  padding:0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left .info ul li span{
  color:#97B8DA;
}
.left .info ul li span + span{
  color:white;
}
.left .info ul li a{
  font-size: 12px;
  color:#3698FD;
}
.left .imgbox{
  width: 100%;
  height: calc((100% - 355px) / 2);
  padding: 0 10px;
}
.left .imgbox + .imgbox{
  margin-top: 20px;
}
.left .imgbox img{
  width: 100%;
  height: 100%;
}

.right{
  left:390px;
  right:10px;
  height:calc(100% - 340px);
  top:10px;
}
.right .check-box {
  position: absolute;
  top: 40px;
  left: 0;
  height: calc(100% - 40px);
  padding: 10px 20px;
  line-height: 22px;
  color: #fff;
}
.right img{
  width: 100%;
  height:100%
}

.bottom{
  left:390px;
  right:10px;
  bottom:10px;
  height:300px;
}
.bottom ul{
  width: 100%;
  height:100%;
}
.bottom ul li{
  width: calc((100% - 20px) / 3);
  height: 100%;
  float: left;
  box-sizing: content-box;
}
.bottom ul li + li{
  border-left: 10px #0A061E solid;
}
.bottom ul li + li + li{
  border-left: 10px #0A061E solid;
}
