.left{
  left: 10px;
  top:10px;
  width: 370px;
  bottom:10px;
}
.left .info{
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 20px;
}
.left .info ul{
  width: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(80,80,99,0.49);
  border-bottom: 1px solid rgba(80,80,99,0.49);
}
.left .info ul li{
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-left: 1px solid rgba(80,80,99,0.49);
  border-top: 1px solid rgba(80,80,99,0.49);
  padding:0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left .info ul li span{
  color:#97B8DA;
}
.left .info ul li span + span{
  color:white;
}
.left .info ul li a{
  font-size: 12px;
  color:#3698FD;
}
.left .imgbox{
  width: 100%;
  height: calc((100% - 355px) / 2);
  padding: 0 10px;
}
.left .imgbox + .imgbox{
  margin-top: 20px;
}
.left .imgbox img{
  width: 100%;
  height: 100%;
}

.right{
  left:390px;
  right:10px;
  height:calc(100% - 340px);
  top:10px;
}


.right .check-box {
  position: absolute;
  top: 40px;
  left: 0;
  height: 40px;
  padding: 10px 20px;
  line-height: 22px;
  z-index:100;
  color: #fff;
  width: 100%;
}
.right .check-box p{
  display: inline-block;
}
.right .check-box p + p{
  margin-left: 10px;
}
.right .check-box img{
  width: 12px;
  height: auto;
  margin-left: 5px
}



.bottom{
  left:390px;
  right:10px;
  bottom:10px;
  height:300px;
}
.bottom ul{
  width: 100%;
  height:100%;
}
.bottom ul li{
  width: calc((100% - 30px) / 4);
  height: 100%;
  float: left;
  box-sizing: content-box;
}
.bottom ul li + li{
  border-left: 10px #0A061E solid;
}
.bottom ul li + li + li{
  border-left: 10px #0A061E solid;
}
.bottom .content4 {
  padding: 20px;
}
.bottom .location {
  line-height: 24px;
}
.bottom .location .city {
  font-size: 16px;
}
.bottom .location .update-time {
  font-size: 12px;
  color: #999;
}
.bottom .base-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;
}
.bottom .base-info .base-info-left {
  font-size: 30px;
  color: #5C89FF;
}
.bottom .base-info .base-info-center span:first-of-type {
  font-size: 18px;
}
.bottom .base-info .base-info-right {
  padding: 2px 4px;
  border-radius: 2px;
  background: #4ECE9E;
}
.bottom .content4-types {
  display: flex;
  justify-content: space-between;
}
.bottom .broadcast {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #1F1E36;
  margin-top: 40px;
}
.bottom .broadcast img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.tip-box{
  position: absolute;
  bottom:20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
}
.tip-box .tip-item{
  display: block;
  float: left;
  padding-left:30px;
  position: relative;
}
.tip-box .tip-item i{
  position: absolute;
  display: block;
  width: 20px;
  height: 10px;
  left: 3px;
  top:5px;
  border-radius: 2px;
}
.tip-box .tip-item + .tip-item{
  margin-left: 5px;
}
.tip-box .tip-item i.red{
  background: red;
}
.tip-box .tip-item i.green{
  background: green;
}
.tip-box .tip-item i.white{
  background: white;
}
.tip-box .tip-item i.grey{
  background: #575757;
}
.unity-popup{
  position: absolute;
  top:200px;
  left: 500px;
  width: 300px;
  overflow: hidden;
  z-index: 99;
}
.unity-popup img{
  width: 100%;
  height: auto;
}
