.time-bottom .page-box .content .legend {
    display: flex;
    align-items: center;
}
.time-bottom .page-box .content .legend li {
    margin-right: 30px;
}
.time-bottom .page-box .content .legend li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 0;
    margin-right: 10px;
    vertical-align: middle;
}
.time-bottom .page-box .content .legend1 li:first-child::before {
    border-top: 2px solid #5C89FF;
}
.time-bottom .page-box .content .legend1 li:last-child::before {
    border-top: 2px dotted #00C853;
}
.time-bottom .page-box .content .legend2 li:first-child::before {
    border-top: 2px solid #5C89FF;
}
.time-bottom .page-box .content .legend2 li:last-child::before {
    border-top: 2px solid #C95FF2;
}
.time-bottom .page-box .content .legend3 li:first-child::before {
    width: 12px;
    height: 12px;
    background: #5B8FF9;
}
.time-bottom .page-box .content .legend3 li:last-child::before {
    width: 12px;
    height: 12px;
    background: #5AD8A6;
}
.time-bottom .page-box .content .legend4 li:first-child::before {
    border-top: 2px solid #5C89FF;
}
.time-bottom .page-box .content .legend4 li:last-child::before {
    border-top: 2px dotted #C95FF2;
}