.structural2-top .content ul li {
    height: calc((100% - 40px) / 5);
}
.structural4-top .content ul li {
    height: calc((100% - 40px) / 4);
}
.structural4-top .sel1{
  height: 32px;
    line-height: 32px;
    background: #191934;
    font-size: 14px;
    color: #97B8DA;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 8px;
    margin-top: 5px;
}
