.system2 {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
/*.system2 .system2-left {
    width: 318px;
    display: flex;
    flex-direction: column;
}*/
.system2 .system2-left-top {
    left:10px;
    top:10px;
    width: 300px;
    height: 243px;
}
.system2 .system2-left-bottom {
  left:10px;
  top:263px;
  width: 300px;
  height: calc(100% - 283px);
}
.system2 .system2-left-bottom ul {
    display: flex;
    height: 40px;
    margin: 20px 0;
}
.system2 .system2-left-bottom ul li {
    flex: 1;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.system2 .system2-left-bottom ul li:first-child {
    border-right: 1px solid #fff;
}
.system2 .system2-left-bottom ul li span:first-child {
    font-size: 14px;
    color: #75798A;
}
.system2 .system2-left-bottom ul li span:last-child {
    font-size: 20px;
    color: #fff;
}
.system2 .system2-left-bottom .chart {
    width: 100%;
    height: calc(100% - 80px);
}



.system3-top {
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.system3-top li {
    flex: 1;
    margin-right: 10px;
    padding: 40px 40px 0;
    box-shadow: 0 2px 4px 0 rgba(14,29,49,0.60);
}
.system3-top li:first-child {
    background-image: linear-gradient(38deg, #2AD0FF 0%, #0063FA 100%);
}
.system3-top li:nth-child(2) {
    background-image: linear-gradient(198deg, #0098DA 0%, #41E0CB 100%);
}
.system3-top li:nth-child(3) {
    background-image: linear-gradient(42deg, #FAD961 0%, #F76B1C 100%);
}
.system3-top li:last-child {
    background-image: linear-gradient(225deg, #FF4B4F 0%, #FB7173 100%);
    margin-right: 0;
}
.system3-top li span:first-child {
    font-size: 18px;
}
.system3-top li span:last-child {
    font-size: 32px;
}
.system2-right{
  left:320px;
  top:10px;
  right: 10px;
  bottom:20px;
  background: red;
}

.system2-right .list-table{
  width: 100%;
  height: calc(100% - 72px);
  margin-top: 20px;
}
.system2-right .list-table ul{
  width: 100%;
  overflow: hidden;
}
.system2-right .list-table li{
  width: calc(100% / 4);
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.system2-right .list-table li.rd{
  color:#fd4f54;
}
.system2-right .list-table li.gd{
  color:#39c160;
}
.system2-right .list-table li.do{
  color:#55566a;
}
.system2-right .list-table li.do a{
  color:#5C89FF;
}
.system2-right .list-table li.do a:hover{
  color:#fff;
}
.system2-right .list-table .tb-hd{
  width: 100%;
  height: 40px;
}
.system2-right .list-table .tb-bd{
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  overflow-y: auto;
}
.system2-right .list-table .tb-hd ul{
  color:#98b9d9;
}
.system2-right .list-table .tb-bd ul:nth-child(odd){
  background: #191937;
}
.system2-right .content .header {
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.system2-right .content .header-left {
    display: flex;
}
.system2-right .content .header-left li {
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #4C4B5E;
    color: #75798A;
    cursor: pointer;
}
.system2-right .content .header-left li.active, .system2-right .content .header-left li:hover {
    border-color: #5C89FF;
    color: #5C89FF;
}
.system2-right .content .header-left li:first-child {
    border-radius: 4px 0 0 4px;
}
.system2-right .content .header-left li:last-child {
    border-radius: 0 4px 4px 0;
}
.system2-right .content .header-right {
    display: flex;
    align-items: center;
}
.system2-right .content .header-right select {
    height: 32px;
    line-height: 32px;
    background: #191934;
    font-size: 14px;
    color: #97B8DA;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 8px;
}
.system2-right .content .header-right input {
    height: 32px;
    line-height: 32px;
    background: #191934;
    font-size: 14px;
    color: #97B8DA;
    border: 0;
    margin-left: 10px;
    padding: 0 8px;
}
.system2-right .content .header-right button {
    width: 80px;
    height: 32px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.system2-right .content .header-right .search {
    background: #5C89FF;
}
.system2-right .content .header-right .export {
    background: #FCB333;
}
.system2-right .content .header-right .created {
    width: 100px;
    background: #2ECB5D;
}
.system2-right .content .header-right button img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
