.time-top {
    left: 10px;
    top: 10px;
    right: 10px;
    height: calc(100% - 340px);
}
.time-top .content {
    padding: 10px;
    display: flex;
}
.time-top .content ul {
    width: 300px;
}
.time-top .content ul li {
    float: left;
    width: 140px;
    height: calc((100% - 50px) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px 10px 0;
    background: #191934;
    border-radius: 4px;
    cursor: pointer;
}
.time-top .content ul li:hover, .time-top .content ul li.active {
    background: #5985F9;
}
.time-top .content .imgbox {
    flex: 1;
}
.time-top .content .imgbox img {
    width: 100%;
    height: 100%;
}
.time-bottom {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 320px;
}
.time-bottom .page-box {
    position: static !important;
    height: 410px;
    margin-bottom: 10px;
}
.time-bottom .page-box .content {
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
}
.time-bottom .page-box .content .header {
    display: flex;
    justify-content: space-between;
}
.time-bottom .page-box .content .header-left {
    display: flex;
}
.time-bottom .page-box .content .header-left li {
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #4C4B5E;
    color: #75798A;
    cursor: pointer;
}
.time-bottom .page-box .content .header-left li.active, .time-bottom .page-box .content .header-left li:hover {
    border-color: #5C89FF;
    color: #5C89FF;
}
.time-bottom .page-box .content .header-left li:first-child {
    border-radius: 4px 0 0 4px;
}
.time-bottom .page-box .content .header-left li:last-child {
    border-radius: 0 4px 4px 0;
}
.time-bottom .page-box .content .header-right {
    display: flex;
    align-items: center;
}
.time-bottom .page-box .content .header-right .update span {
  color: #3698FD;
}
.time-bottom .page-box .content .header-right select {
    height: 32px;
    line-height: 32px;
    background: #191934;
    font-size: 14px;
    color: #97B8DA;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    padding: 0 8px;
}
.time-bottom .page-box .content .header-right button {
    width: 80px;
    height: 32px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.time-bottom .page-box .content .header-right .search {
    background: #5C89FF;
}
.time-bottom .page-box .content .header-right .export {
    background: #FCB333;
}
.time-bottom .page-box .content .header-right button img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
.time-bottom .page-box .content .chart-wrap {
    flex: 1;
    display: flex;
}
.time-bottom .page-box .content .chart-wrap .chart {
    width: 1100px;
}
.time-bottom .page-box .content .chart-wrap .imgbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.time-bottom .page-box .content .chart-wrap .imgbox img {
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
}
.time-bottom .page-box .content .chart-wrap .imgbox span {
    color: #ACB3BE;
}

.time3top{
  left:15px;
  top:10px;
  right:15px;
  height: 348px;
}
.time3top .imgbox{
  width: 50%;
  height: 100%;
  float: left;
  padding: 10px;
  padding-right:5px;
}
.time3top .imgbox + .imgbox{
  float: right;
  padding-right:10px;
  padding-left:10px;
}
.time3top .imgbox img{
  width: 100%;
  height: 100%;
}

.time3bottom{
  left:15px;
  top:368px;
  right:15px;
  bottom: 10px;
  height: auto;
}
.time3bottom .page-box{
  height: 100%;
}

.time3bottom .list-table{
  width: 100%;
  height: calc(100% - 52px);
  margin-top: 20px;
}
.time3bottom .list-table ul{
  width: 100%;
  overflow: hidden;
}
.time3bottom .list-table li{
  width: calc(100% / 14);
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.time3bottom .list-table li.rd{
  color:#fd4f54;
}
.time3bottom .list-table li.gd{
  color:#39c160;
}
.time3bottom .list-table .tb-hd{
  width: 100%;
  height: 40px;
}
.time3bottom .list-table .tb-bd{
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  overflow-y: auto;
}
.time3bottom .list-table .tb-hd ul{
  color:#98b9d9;
}
.time3bottom .list-table .tb-bd ul:nth-child(odd){
  background: #191937;
}
